.select {
  display: flex;
  margin: 3% 1% 1%;
  text-align: center;
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
}

.radio-btn {
  width: 1.1em;
  height: 1.1em;
  border-radius: 100%;
  color: #3197ee;
  margin: 0 1%;
}

.radio-btn:checked {
  color: #3197ee;
  /* box-shadow: inset 0 0 0 4px #f4f4f4; */
}
